h1 {
    color: #1a5875;
    font-size: 3.625rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 0%;
}

h2{
    display: flex;
    justify-content:center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color:#1a5875;
}

.top-container{
    height: 400px;
}

*{
    background-repeat: no-repeat;
    background-size:cover;
    
}
.stupid{
    display:flex;
    justify-content:center;
    text-align: center;
    font-size: 2.5rem;
    color:#1a5875;
    font-family: 'Courier New', Courier, monospace;
}

.gaming{
    display:flex;
    justify-content:center;
    text-align: center;
    font-size: 2.5rem;
    color:#1a5875;
}

.david {
    display: flex;
    flex-direction:row;
    width: 300px; height: 300px;
    align-content:space-between;
    justify-content: space-around;    
    gap: 250px;
}